/* Reset Box Model */
html,
body,
main,
section,
article,
aside,
nav,
header,
footer,
address,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
dfn,
em,
small,
s,
strong,
sub,
sup,
tt,
var,
u,
i,
mark,
time,
del,
ins,
kbd,
q,
code,
samp,
kbd,
select,
input,
button,
textarea,
label,
fieldset,
legend,
progress,
meter,
details,
summary,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: middle;
  box-sizing: border-box;
}

main,
section,
article,
aside,
nav,
header,
footer,
address,
figure {
  display: block;
}

/* Reset Fonts */
body {
  line-height: 1;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #1b1b1b;
}

/* Reset Lists */
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input:focus-visible,
textarea:focus-visible {
  outline-color: #a9d621;
}
/* Reset Form Elements */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Custom ScrollBar */
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #979c9e;
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(149, 160, 162);
}

/* Reset Text Decoration */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* Reset Misc */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Display */
.dn {
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.df,
.v-center,
.h-center,
.box-center {
  display: flex;
}

.dif {
  display: inline-flex;
}

/* Verticle and Horizantal Align */
.tac {
  text-align: center;
}

.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tdhu:hover {
  text-decoration: underline;
}
.jcc,
.h-center,
.box-center {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcse {
  justify-content: space-evenly;
}
.jcsa {
  justify-content: space-around;
}
.jce {
  justify-content: end;
}

.aic,
.v-center,
.box-center {
  align-items: center;
}
.ais {
  align-items: start;
}
.aie {
  align-items: end;
}
.ase {
  align-self: end;
}
.aisc {
  align-items: stretch;
}

/* Column and Row */
.fdc {
  flex-direction: column;
}

.fdcr {
  flex-direction: column-reverse;
}

.fdrr {
  flex-direction: row-reverse;
}

.flx1 {
  flex: 1;
}
.flx2 {
  flex: 2;
}
.flx3 {
  flex: 3;
}

.flx100 {
  flex: 0 0 100%;
}
.flx40 {
  flex: 0 0 40%;
  max-width: 500px;
}
.flx50 {
  flex: 0 0 50%;
  max-width: 50%;
}
.flx60 {
  flex: 0 0 60%;
  max-width: 60%;
}
.flx75 {
  flex: 0 0 75%;
  max-width: 75%;
}
.flx46 {
  flex: 0 0 46%;
  max-width: 46%;
}
.flx31 {
  flex: 0 0 31.333333%;
  max-width: 31.33333%;
}
.flx33 {
  flex: 0 0 33.333333%;
  max-width: 33.33333%;
}
.flx25 {
  flex: 0 0 25%;
  max-width: 25%;
}
.flx16 {
  flex: 0 0 16%;
  max-width: 16%;
}
.flx295 {
  flex: 0 0 292px;
  max-width: 292px;
}
.flx48p {
  flex: 0 0 48px;
  max-width: 48px;
}
.fww {
  flex-wrap: wrap;
}

/* overflow style */
.ofh {
  overflow: hidden;
}
.ofa {
  overflow: auto;
}

/* Backgound Color & Font Color Style */
.bg1,
.bg-h2:hover {
  background-color: #4d4d4d;
}

.bg2,
.bg-h1:hover {
  background-color: #a9d621;
}

.bg3 {
  background-color: #1b1b1b;
}
.bg4 {
  background-color: #ffffff;
}
.bg5 {
  background-color: #f6f6f6;
}
.bg6 {
  background-color: #717171;
}
.bg7 {
  background-color: #d9d9d9;
}
.bg-grdnt-01,
.bg-grdnt-h1-01:hover {
  background-image: linear-gradient(165deg, #717171 0%, #1b1b1b 100%);
}
.bg-grdnt-02 {
  background-image: linear-gradient(205deg, #a9d621 0%, #8aa82f 100%);
}
.bg-grdnt-03 {
  background-image: linear-gradient(165deg, #1b1b1b 40%, #8aa82f 100%);
}
.bg-grdnt-04 {
  background-image: linear-gradient(165deg, #FFFFFFD6 0%, #FFFFFF 70%)
}
.fc1,
.fc-h2:hover {
  color: #1b1b1b;
}
.fc2,
.fc-h1:hover,
.nav-active {
  color: #8aa82f;
}
.fc3 {
  color: #4d4d4d;
}
.fc4 {
  color: #fff;
}
.fc5 {
  color: #f6f6f6;
}
.fc6 {
  color: #717171;
}

.fc7 {
  color: #d9d9d9;
}
.fill1,
.fill-h1:hover svg {
  fill: #424242;
}
.fill2,
.fill-h2:hover svg {
  fill: #000;
}
/* font style */
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs17 {
  font-size: 17px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs28 {
  font-size: 28px;
}
.fs32 {
  font-size: 32px;
}
.fs36 {
  font-size: 36px;
}
.fs40 {
  font-size: 40px;
}
.fs44 {
  font-size: 44px;
}
.fs56 {
  font-size: 56px;
}
.fs64 {
  font-size: 64px;
}

.lh14 {
  line-height: 14px;
}
.lh18 {
  line-height: 18px;
}

.lh22 {
  line-height: 22px;
}
.lh24 {
  line-height: 24px;
}
.lh28 {
  line-height: 28px;
}
.lh30 {
  line-height: 30px;
}
.lh34 {
  line-height: 34px;
}
.lh48 {
  line-height: 48px;
}
.lh58 {
  line-height: 58px;
}
.lh60 {
  line-height: 72px;
}

.ls1 {
  letter-spacing: 0.5px;
}
.ls2 {
  letter-spacing: 1px;
}

.fw3 {
  font-weight: 300;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}

.ttu {
  text-transform: uppercase;
}
.fsi {
  font-style: italic;
}

.text-row {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lc1 {
  -webkit-line-clamp: 1;
}
.lc2 {
  -webkit-line-clamp: 2;
}
.lc3 {
  -webkit-line-clamp: 3;
}
.lc4 {
  -webkit-line-clamp: 4;
}
/* Position Style */
.pr,
.navbar li {
  position: relative;
}

.pa,
.aft:after,
.bef:before {
  position: absolute;
}
.pf {
  position: fixed;
}
.ps {
  position: sticky;
}
.l0 {
  left: 0;
}

.r0 {
  right: 0;
}

.t0 {
  top: 0;
}
.t100 {
  top: 100%;
}

.b0 {
  bottom: 0;
}

.zi1 {
  z-index: 1;
}
.zi2 {
  z-index: 2;
}
.zi3 {
  z-index: 3;
}
.zi99 {
  z-index: 99;
}

.cp {
  cursor: pointer;
}

/* Spacing Style */
.mlra {
  margin-left: auto;
  margin-right: auto;
}
.mla {
  margin-left: auto;
}
.m8 {
  margin: 8px;
}
.m12 {
  margin: 12px;
}
.m16 {
  margin: 16px;
}
.m32 {
  margin: 32px;
}

.mt4 {
  margin-top: 4px;
}
.mt8,
.mtb8 {
  margin-top: 8px;
}
.mt12,
.mtb12 {
  margin-top: 12px;
}
.mt16,
.mtb16 {
  margin-top: 16px;
}
.mt24,
.mtb24 {
  margin-top: 24px;
}
.mt32,
.mtb32 {
  margin-top: 32px;
}
.mt40,
.mtb40 {
  margin-top: 40px;
}
.mt48,
.mtb48 {
  margin-top: 48px;
}
.mt96 {
  margin-top: 120px;
}
.mt200 {
  margin-top: 200px;
}

.ml4,
.mlr4 {
  margin-left: 4px;
}
.ml8,
.mlr8 {
  margin-left: 8px;
}
.ml12,
.mlr12 {
  margin-left: 12px;
}
.ml16,
.mlr16 {
  margin-left: 16px;
}
.ml24,
.mlr24 {
  margin-left: 24px;
}
.ml32,
.mlr32 {
  margin-left: 32px;
}
.ml40,
.mlr40 {
  margin-left: 40px;
}
.ml48,
.mlr48 {
  margin-left: 48px;
}
.mb72 {
  margin-bottom: 72px;
}

.mr4,
.mlr4 {
  margin-right: 4px;
}
.mr8,
.mlr8 {
  margin-right: 8px;
}
.mr12,
.mlr12 {
  margin-right: 12px;
}
.mr16,
.mlr16 {
  margin-right: 16px;
}
.mr24,
.mlr24 {
  margin-right: 24px;
}
.mr32,
.mlr32 {
  margin-right: 32px;
}
.mr40,
.mlr40 {
  margin-right: 40px;
}
.mr48,
.mlr48 {
  margin-right: 48px;
}

.mb4 {
  margin-bottom: 4px;
}
.mb8,
.mtb8 {
  margin-bottom: 8px;
}
.mb12,
.mtb12 {
  margin-bottom: 12px;
}
.mb16,
.mtb16 {
  margin-bottom: 16px;
}
.mb24,
.mtb24 {
  margin-bottom: 24px;
}
.mb32,
.mtb32 {
  margin-bottom: 32px;
}
.mb40,
.mtb40 {
  margin-bottom: 40px;
}
.mb48,
.mtb48 {
  margin-bottom: 48px;
}

.pla {
  padding-left: auto;
}

.p4 {
  padding: 4px;
}
.p8 {
  padding: 8px;
}
.p12 {
  padding: 12px;
}
.p16 {
  padding: 16px;
}
.p24 {
  padding: 24px;
}
.p32 {
  padding: 32px;
}
.p60 {
  padding: 60px;
}

.pt4,
.ptb4 {
  padding-top: 4px;
}
.pt8,
.ptb8 {
  padding-top: 8px;
}
.pt12,
.ptb12 {
  padding-top: 12px;
}
.pt16,
.ptb16 {
  padding-top: 16px;
}
.pt24,
.ptb24 {
  padding-top: 24px;
}
.pt32,
.ptb32 {
  padding-top: 32px;
}
.pt40,
.ptb40 {
  padding-top: 40px;
}
.pt48,
.ptb48 {
  padding-top: 48px;
}
.pt90,
.ptb90 {
  padding-top: 90px;
}

.pl4 {
  padding-left: 4px;
}
.pl8,
.plr8 {
  padding-left: 8px;
}
.pl12,
.plr12 {
  padding-left: 12px;
}
.pl16,
.plr16 {
  padding-left: 16px;
}
.pl24,
.plr24 {
  padding-left: 24px;
}
.pl32,
.plr32 {
  padding-left: 32px;
}
.pl40,
.plr40 {
  padding-left: 40px;
}
.pl48,
.plr48 {
  padding-left: 48px;
}
.pl64 {
  padding-left: 64px;
}

.pr4 {
  padding-right: 4px;
}
.pr8,
.plr8 {
  padding-right: 8px;
}
.pr12,
.plr12 {
  padding-right: 12px;
}
.pr16,
.plr16 {
  padding-right: 16px;
}
.pr24,
.plr24 {
  padding-right: 24px;
}
.pr32,
.plr32 {
  padding-right: 32px;
}
.pr40,
.plr40 {
  padding-right: 40px;
}
.pr48,
.plr48 {
  padding-right: 48px;
}

.pb4,
.ptb4 {
  padding-bottom: 4px;
}
.pb8,
.ptb8 {
  padding-bottom: 8px;
}
.pb12,
.ptb12 {
  padding-bottom: 12px;
}
.pb16,
.ptb16 {
  padding-bottom: 16px;
}
.pb24,
.ptb24 {
  padding-bottom: 24px;
}
.pb32,
.ptb32 {
  padding-bottom: 32px;
}
.pb40,
.ptb40 {
  padding-bottom: 40px;
}
.pb48,
.ptb48 {
  padding-bottom: 48px;
}
.pb90,
.ptb90 {
  padding-bottom: 90px;
}

.ptb64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* border Style */
.brd1 {
  border: 1px solid #d9d9d9;
}
.brd2 {
  border: 1px solid #a9d621;
}
.brd-b1 {
  border-bottom: 1px solid #b8b8b8;
}
.brd-b2 {
  border-bottom: 1px solid #515156;
}
.brd-l1 {
  border-left: 1px dashed #d9d9d9;
}
.bs1,
.bs1-h1:hover {
  box-shadow: 0px 0px 1px 0px #fff;
}
.bs2,
.bs2-h2:hover {
  box-shadow: 0px 35px 80px rgba(0,0,0,0.15);
}
.bs2-h3:hover {
  box-shadow:0 0 30px 0 rgba(0,0,0,.15);
}
.bs3{
  box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.15);
}
.aft:after,
.bef:before {
  content: "";
}

.tf-h1:hover {
  transform: translateX(10px);
}
.transit1,
.md-btn {
  transition: all 0.2s;
}
.transit2 {
  transition: all 0.3s;
}
.wsnw {
  white-space: nowrap;
}
/* Shape Style */

.w50 {
  width: 50%;
}

.w100px {
  width: 100px;
}
.w100vw {
  width: 100vw;
}
.w100 {
  width: 100%;
}
.w50p {
  width: 50%;
}
.w18 {
  width: 18px;
}
.w24 {
  width: 24px;
}
.w40 {
  width: 40px;
}
.w48 {
  width: 48px;
}
.w64 {
  width: 64px;
}
.w72 {
  width: 72px;
}

.w-m64 {
  min-width: 64px;
  max-width: 64px;
}
.w-m48 {
  min-width: 48px;
  max-width: 48px;
}
.h18 {
  height: 18px;
}
.h24 {
  height: 24px;
}
.h40 {
  height: 40px;
}
.h48 {
  height: 48px;
}
.h56 {
  height: 56px;
}
.h64 {
  height: 64px;
}
.h100vh {
  height: 100vh;
}

.br2 {
  border-radius: 2px;
}

.br4 {
  border-radius: 4px;
}
.br8 {
  border-radius:8px;
}
.bbr8{
  border-radius: 0px 0px 8px 8px;
}
.br24 {
  border-radius: 24px;
}
.br50 {
  border-radius: 50%;
}
.br-br-01 {
  border-radius: 0 0 0 6vw;
}
.box-sd1 {
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.15);
}
.box-sd2 {
  box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.15);
}
.box-sd3 {
  box-shadow:0 0 10px 0 rgba(0,0,0,.15);
}
.bg-img-02 {
  background: linear-gradient(
      165deg,
      rgba(27, 27, 27, 0.85) 40%,
      rgba(169, 214, 33, 0.85) 100%
    ),
    url(images/section-bg-04.jpg) no-repeat center/cover;
}
.bg-img-03 {
  background: url(images/about-bg-01.jpg) no-repeat center/cover;
}

.bg-img-04 {
  background: linear-gradient(
      165deg,
      rgba(27, 27, 27, 0.85) 40%,
      rgba(169, 214, 33, 0.85) 100%
    ),
    url(images/section-bg-05.jpg) no-repeat center/cover;
}

.bg-img-05 {
  background: radial-gradient(
      at center center,
      rgba(255, 255, 255, 0.851) 0%,
      #ffffff 80%
    ),
    url(images/section-bg-03.png) no-repeat center/cover;
}

.bg-img-06 {
  background-image: url(images/section-bg-02.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: 350px auto;
}

.bg-img-07 {
  background: linear-gradient(
      165deg,
      rgba(27, 27, 27, 0.6) 40%,
      rgba(169, 214, 33, 0.6) 100%
    ),
    url(images/section-bg-07.jpg) no-repeat center/cover;
}
.bg-img-08 {
  min-width: calc(100% - 32px);
  max-width: calc(100% - 32px);
}
.bg-img-08:after {
  background-image: url(images/section-bg-08.jpg);
  background-position: left 12px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  border-radius: 1px 1px 1px 10vw;
}
.overlay-bg {
  background-color: transparent;
  background-image: radial-gradient(
    at center center,
    rgba(246, 246, 246, 0.78) 0%,
    #f6f6f6 80%
  );
  opacity: 1;
}
.character-bg {
  background: url(images/section-bg-06.jpg) no-repeat left/cover;
}
.wrapper,
.banner-content {
  width: 94%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.logo img {
  height: 48px;
}
.nav-sub-items{
  border-top: 2px solid #a9d621;
}
.nav-item:hover .nav-sub-items{
  display: block;
}

.menu-btn {
  display: none;
}
.menu-btn,
.logo {
  z-index: 100;
}
.menu-data {
  transition: all 0.5s;
  overflow: hidden;
  right: 0;
}
.menu-data.menu-data-close {
  transform: scale(0.1);
  position: absolute;
  background-color: #d9206c;
  height: 10vh;
  width: 10vh;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  border-radius: 50%;
}
.menu-data:not(.menu-data-close) {
  transform: scale(1);
  position: fixed;
  height: 100vh;
  z-index: 99;
  visibility: visible;
  opacity: 1;
  border-radius: 0;
}
.menu-line {
  width: 24px;
  height: 3px;
  background-color: #414141;
  border-radius: 2px;
  transition: all 0.2s;
}
.menu-line:not(:last-of-type) {
  margin-bottom: 4px;
}
.nav-close .menu-btn {
  background-color: #414141;
  border-radius: 4px;
}
.nav-close .menu-line {
  background-color: #fff;
}
.nav-close .menu-line:first-of-type {
  transform: translate(1px, 3px) rotate(45deg);
}
.nav-close .menu-line:last-of-type {
  transform: translate(0px, -4px) rotate(-45deg);
}
.nav-close .menu-line:nth-of-type(2) {
  display: none;
}

.hero .hero-content {
  max-width: 65vw;
}
.hero {
  height: 80vh;
  min-height: 520px;
  background-color: #4a4a4a;
  background: url(images/banner-char-v01.png) no-repeat 60vw bottom/contain,
    linear-gradient(
      180deg,
      rgba(169, 214, 33, 0.89) 30%,
      rgba(169, 214, 33, 0.2) 100%
    ),
    url(images/banner-bg-v01.jpg) no-repeat left/cover;
  border-radius: 0 0 10vw 0;
}
.about-hero {
  height: 60vh;
  min-height: 470px;
  background-color: #4a4a4a;
  background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),url(images/about-bg-01.jpg) no-repeat top/cover;
  border-radius: 0 0 10vw 0; 
  background-position: 50% 30%;
  border-width: 0px 0px 5px 0px;
}
.service-hero {
  height: 60vh;
  min-height: 470px;
  background-color: #4a4a4a;
  background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),url(images/section-bg-05.jpg) no-repeat top/cover;
  border-radius: 0 0 10vw 0; 
  background-position: 50% 30%;
  border-width: 0px 0px 5px 0px;
}
.team-hero {
  height: 60vh;
  min-height: 470px;
  background-color: #4a4a4a;
  background:linear-gradient(
      rgba(28, 28, 28, 0.702),
      rgba(28, 28, 28, 0.702)
    ),url(images/team-hero-bg-01.jpg) no-repeat top/cover;
  border-radius: 0 0 10vw 0; 
  background-position: 50% 45%;
  border-width: 0px 0px 5px 0px;
}
.blog-hero {
  height: 60vh;
  min-height: 470px;
  background-color: #4a4a4a;
  background:linear-gradient(
      rgba(28, 28, 28, 0.702),
      rgba(28, 28, 28, 0.702)
    ),url(images/team-hero-bg-01.jpg) no-repeat top/cover;
  border-radius: 0 0 10vw 0; 
  background-position: 50% 45%;
  border-width: 0px 0px 5px 0px;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 2px;
}
.year-exp {
  transform: translate(24px, -16px);
}
.footer-list-title:after,
.btm-line:after {
  width: 40px;
  height: 2px;
  background-color: #a9d621;
  bottom: 0px;
  left: 0;
}
.btm-line:after {
  transform: scale(2);
  left: 20px;
}
.footer-quick-form {
  border-top: 5px solid #a9d621;
  transform: translateY(-40px);
}
.fsl a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #a9d621;
}
.footer-social-list img {
  width: 14px;
}
.footer-form-input input {
  width: calc(90% - 60px);
}
.fsl a {
  transition: all 0.4s;
}
.fsl:hover a {
  transform: translateY(-6px);
  background-color: #1b1b1b;
  
}

.app-dwn-btn {
  min-width: 142px;
  max-width: 142px;
  height: 48px;
  border: 0.5px solid #fff;
  border-radius: 8px;
}
.dwn-app-banner {
  top: -112px;
  height: 640px;
  filter: brightness( 110% ) contrast( 150% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}
.mw500 {
  width: 94%;
  max-width: 550px;
  margin: 0 auto;
}
.mw700 {
  width: 98%;
  max-width: 740px;
  margin: 0 auto;
}
.choose {
  border-radius: 0 12vw 0 0;
}
.about-sec-content {
  padding-right: 5%;
}
.offer-section .card-icon {
  width: 64px;
  height: 64px;
  position: absolute;
  top: -16px;
  right: 16px;
  z-index: 1;
}
.card-heading-title:after {
  width: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, #a9d621 0%, #8aa82f 100%);
}
.testimonial-cards {
  padding: 12px 0 0 12px;
  border-radius: 8px 0 0 1px;
}
.team-sec-left{
  border-radius: 10px 10px 10px 6vw;
}
.team-card{
  width: 260px;
  height: 340px;
  border-bottom: 5px solid #a9d621;
}
.img-box{
  width: 240px;
  height: 260px;
  background:url(images/Team-2.jpg) no-repeat center/cover;
}
.team-social-list{
  bottom: -10vw;
}
.team-social-list img{
  width: 14px;
}
.card-detail{
  bottom: -16vh;
}
.believe-card{
  right: 10px;
  bottom: 10px;
  text-align: start;
  width: 100%;
  word-spacing: 2px;
  max-width: 340px;
}
.form-heading{
  border-bottom: 1px solid #b8b8b8;
}
.thumbnail{
  height: 16vw;
  background:url(images/thumbnail-01.jpg) no-repeat center/cover;
  border-radius: 8px 8px 0 0;
}
.post-badge{
  padding: .6em 1.2em;
  top:0;
  right: 0;
  z-index: 1;
}
.post-date{
  border-top: 1px solid #eaeaea;
}
.prgs-bar{
  height: 10px;
}
.prgs-track{
  height: 100%;
}
@media only screen and (max-width: 1024px){
  .flx33{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .fs24{
    font-size: 18px;
  }
  .fs44{
    font-size: 32px;
  }
  .fs56 {
    font-size: 42px;
  }

  .lh60 {
    line-height: 52px;
  }
  .ptb48{
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .hero{
    background: url(images/banner-char-v01.png) no-repeat 60vw bottom/contain,
    linear-gradient(
      180deg,
      rgba(169, 214, 33, 0.89) 30%,
      rgba(169, 214, 33, 0.2) 100%
    ),
    url(images/banner-bg-v01.jpg) no-repeat left/cover;
  }
  .hero{
      height: 40vh;
  }
  .hero .hero-content {
    max-width: 65vw;
  }
  .service-hero {
    height: 35vh;
  }
.about-sec .wrapper{
  flex-direction: column-reverse;
}
.about-sec-content {
  padding-left: 0;
  padding-right: 0;
}
.about-sec-left{
  max-width: 100%;
  min-width: 100%;
  height: 45vw;
}
.stats-number{
  flex-wrap: wrap;
}
.title-content{
  flex-direction: column;
}
.title-content .section-heading{
  flex: 0 0 100%;
  max-width: 100%;
}
.card-container {
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-container .card-column-3{
  padding-left: 0;
  margin-bottom: 32px;
  margin-top: 0;
}
.card-column-3 .card{
  padding: 24px 20px;
  width: 100%;
}
.card-heading-title{
  width: 25%;
  font-size: 20px;
}
.card-heading .card-text{
  line-height: 20px;
}
.card-column-3 .card-icon{
  width: 55px;
  height: 55px;
}

.app-sec .wrapper{
  padding-top: 16px;
  padding-bottom: 16px;
}
.dwn-app-banner{
  left: -96px;
  top: -80px;
  height: 46vw;
}
.app-sec-content .hero-title{
  line-height: 20px;
}
.app-sec-content .section-heading{
  line-height: 38px;
  margin-top: 28px;
}
.app-sec-content p{
  line-height: 24px;
}
.app-dwn-btn{
  min-width: 120px;
  max-width: 120px;
  height: 42px;
}
.offer-section .title-content{
  align-items: center;
}
.offer-section .card-column-3{
  flex: 0 0 46%;
  max-width: 46%;
}
.how-work .title-content{
  align-items: center;
}

/* contact-page */
.get-in-touch{
  flex-wrap: wrap;
}
.get-in-touch .get-in-touch-heading,
.get-in-touch .form-section{
  flex: 0 0 100%;
  max-width: 100%;
}
.get-in-touch .section-container{
  margin: 0;
  text-align: center;
}
.get-in-touch .section-heading{
  margin-right: 0;
  display: inline-block;
}
.get-in-touch .section-text{
  padding: 0 20px 32px 20px;
}
.get-in-touch .form-section{
  margin-top: 28px;
  padding: 24px 32px;
}
.get-in-touch .form-section .submit-btn{
  width: 100%;
  margin: 8px 4px;
}
.get-in-touch .footer-social-list{
  justify-content: center;
}
.get-in-touch .contact-container{
  text-align: start;
}


/* contact-page-end */
.footer-gun{
  flex: 0 0 46%;
  max-width: 46%;
}

.footer-list-title {
  display: inline-block;
}
.footer-list-title:after {
  width: 100%;
}
}

@media only screen and (max-width: 820px){
  .lh58{
    line-height: 38px;
  }
  .fs44 {
    font-size: 28px;
}
  .mw700{
    max-width: 600px;
  }
  .menu-btn{
    display: block;
  }
  .navbar{
    display: none;
  }
  .hero {
    height: 50vh;
}
.about-sec-content {
  width: 100%;
}
  .dwn-app-banner {
    left: -105px;
    top: -67px;
    height: 60vw;
}
.character-bg {
  display: none;
}

.card-column-4{
    flex: 0 0 50%;
    max-width: 50%;
}
.testimonial{
  padding-bottom: 48px;
}
.testimonial-border-radius:after{
  background-position: -210px 12px;
}
.testimonial-content p{
  line-height: 24px;
}
.testimonial-cards{
  margin-bottom: 0;
}
.testimonial-card{
  flex: 0 0 100%;
  max-width: 100%;
}
.discover-sec-content{
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 32px;
}
.discover-sec-content .section-heading{
  margin-top: 0

}
.discover-btn, .wsnw{
  padding: 12px 24px;
}
.footer-links{
  flex-wrap: wrap;
  padding: 0 14px;
}
.footer-list{
  flex: 0 0 25%;
  max-width: 25%;
  margin: 28px 0 0 0;
}
.footer-list-title{
  font-size: 16px;
}
.footer-list-title .sub-list{
  padding-bottom: 4px;
  line-height: 20px;
}
.footer-list .footer-sub-item{
  margin-top: 0px;
  font-size: 12px;
}

}

@media only screen and (max-width: 768px){
  body{
    font-size: 14px;
  }
  
  .lh60 {
    line-height: 40px;
}
.lh58 {
  line-height: 38px;
}
.fs16{
  font-size: 14px;
}
.fs24{
  font-size: 18px;
}
.fs44 {
  font-size: 28px;
}
.flx60, .flx40, .flx46, .flx25{
  flex: 0 0 100%;
  max-width: 100%;
}
.fs56 {
    font-size: 32px;
}
.ptb48{
  padding-top: 28px;
  padding-bottom: 28px;
}
.hero{
  background: url(images/banner-char-v01.png) no-repeat 50vw bottom/contain,
  linear-gradient(
    180deg,
    rgba(169, 214, 33, 0.89) 30%,
    rgba(169, 214, 33, 0.2) 100%
  ),
  url(images/banner-bg-v01.jpg) no-repeat left/cover;
}
.hero .hero-content {
  max-width: 75vw;
}
.hero .hero-text{
  padding-right: 23vw;
}
.wrapper.df{
  flex-wrap: wrap;
}
.about-sec-left{
  height: 40vh;
}
.app-sec{
  margin-bottom: 0;
}
.app-sec .wrapper{
  flex-direction: column-reverse;
}
.app-sec-content{
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
}
.dwn-app-banner{
  margin-top: 20px;
  position: static;
  height: 50vh;
}
.about-sec-left .year-exp{
  transform: translate(13px, -16px);
}
.app-dwn-btn {
  min-width: 132px;
  max-width: 132px;
  height: 42px;
}

.offer-section .card-column-3{
  flex: 0 0 100%;
  max-width: 100%;
}
.card-column-4 .card{
  padding: 24px;
  border-bottom: 1px dotted #b8b8b8;
}
.card-column-4 .card .card-cta{
  margin: 12px 0;
}
.testimonial-border-radius:after{
  background-position: left 12px;
  bottom: auto;
  width: 94%;
  height: 40vh;
  left: 12px;
  border-radius: 1px 8px 8px 10vw;
}
.testimonial-border-radius{
  max-width: 100%;
}
.testimonial-content{
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0;
  margin-top: 45vh;
}
.quotes-close{
  padding: 28px 20px;
}
.quotes-close img{
  height: 32px;
}
.testimonial .wrapper{
  justify-content: start;
}
.testimonial-cards{
  padding: 0 0 ;
}
.testimonial-card{
  flex: 0 0 100%;
  max-width: 100%;
}
.testimonial-card .card{
  margin-right: 0;
}
.testimonial-card p{
  font-size: 15px;
  line-height: 20px;
}
.card-credits .card-client p{
  font-size: 12px;
}

.footer-quick-form{
  flex-direction: column;
  text-align: center;
}
.footer-social-list{
  justify-content: center;
}
.footer-gun{
  flex: 0 0 100%;
  max-width: 100%;
}
.footer-form-input{
  flex-direction: column;
}
.footer-form-input input{
  width: 100%;
  margin-bottom: 12px;
}
.wsnw{
  margin: 0;
}
.footer-list{
  flex: 0 0 50%;
  max-width: 50%;
}

}

@media only screen and (max-width: 376px){
  .mb24{
    margin-bottom: 12px;
  }
  .wrapper{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .hero{
      background: url(images/banner-char-v01.png) no-repeat bottom/contain, linear-gradient( 180deg, rgba(169, 214, 33, 0.89) 30%, rgba(169, 214, 33, 0.2) 100% ), url(images/banner-bg-v01.jpg) no-repeat left/cover;
      height: 110vh;
      align-items: start;
  }
  .hero .hero-content {
    max-width: 100%;
    text-align: center;
}
  .hero-title{
    margin-top: 28px;
    justify-content: center;
  }
  .hero-heading{
    line-height: 32px;
    font-size: 24px;
  }
 .hero .hero-text{
    padding: 10px 12px;
  }
  .service-hero .contact-us{
    font-size: 36px;
  }
  .about-sec-content {
    text-align: center;
  }
 .about-sec-content .section-text{
  padding: 0 12px 24px 12px;
 }
 .about-stats{
  text-align: start;
 }
 .pay-step .title-content{
  text-align: center;
 }
 .pay-step h2, .section-text{
  margin: 12px 12px;
 }
 .pay-step .section-text{
  padding: 0;
 }
 .pay-step .section-text:after{
  width: 54%;
  bottom: -20px;
  left: 23%;
}
.app-sec-content{
  text-align: center;
}
.app-sec-content .section-text {
padding: 16px 20px 24px 20px;
}
.believe-card{
  display: none;
}
.team-sec-content{
  text-align: center;
  padding-left: 0;
  margin: 0 12px;
}
.team-sec-content .section-text,
.discover-sec-content .section-text{
  padding-right: 0;
  margin: 12px 0;
}
.team-sec-content ul{
  text-align: start;
}
.choose-list .choose-item{
  padding-top: 24px;
  text-align: start;
}
.testimonial-border-radius{
  text-align: center;
}
.testimonial-border-radius .section-text {
  padding: 0 20px;
}
.testimonial-cards{
  margin-top: 24px;
  text-align: start;
}
/* contact-page */
.get-in-touch{
  margin-top: 32px;
  margin-bottom: 72px;
}
.get-in-touch .hero-heading{
  font-size: 32px;
}
.get-in-touch .contact-container{
  flex-wrap: wrap;
  padding-top: 0;
}
.get-in-touch .contact-container .card-column-2{
  flex: 0 0 100%;
  max-width: 100%;
}
.get-in-touch .input-column{
  flex: 0 0 100%;
  max-width: 100%;
}
/* contact-page-end */
.discover-sec-content .section-heading{
  line-height: 32px;
  margin-left: 12px;
}
.discover-sec-content .section-text{
  line-height: 20px;
  margin-left: 12px;
  padding-bottom: 16px;
}
.discover-sec-content .discover-btn{
  margin-left: 12px;
  margin-bottom: 32px;
}

 }
